body
{
    padding-top: 60px;
}

.group
{
    height: 80px;
}

.btn-large.group
{
    font-size : 50px;
    padding-top : 45px;
    height: 118px;
}

form.group
{
    margin-top: 14px;
}

.row-fluid .span6:nth-child(2n + 3)
{
    margin-left : 0px;
}